Test Project 1/Test Project 1.suo
Test Project 1/Test Project 1.sln
Test Project 1/Test Project 1.sln
Test Project 1/Test Project 1/bin
Test Project 1/Test Project 1/obj

warmup/warmup/warmup.sln
warmup/warmup/warmup.suo
warmup/warmup/bin
warmup/warmup/obj
